<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <section th:replace="sub-templates/plantilla :: head"></section>
</head>
<body>
    <header th:replace="sub-templates/plantilla :: header"></header>
    <br>
    <section th:replace="sub-templates/botonAgregar :: btnAgregar"></section>
    <section th:replace="sub-templates/agregarEstudiante :: agregarEstudiante"></section>
    <section th:replace="sub-templates/listadoEstudiantes :: listadoEstudiantes"></section>

    <div class="position-absolute top-100 container-fluid bg-dark text-center p-3">
        <footer class="width:100%; margin-left: 0px;" th:replace="sub-templates/plantilla :: footer" ></footer>
    </div>
</body>
</html>